.card {
  width: 80%;
  margin: 30px auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
  max-width: 1000px;
}

mat-icon {
  vertical-align: bottom;
  margin-right: 1%;
}
