mat-toolbar {
  background-color: rgb(140, 82, 255);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-left: 10px;
}

img {
  width: 230px;
}

i:hover {
  cursor: pointer;
}
