#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 50%;
  min-width: 250px;
  max-width: 400px;
  font-size: 16px;
}

h2 {
  margin-top: 100px;
  text-align: center;
  padding: 20px;
  color: rgb(140, 82, 255);
}

button {
  padding: 5px;
  width: 50%;
  min-width: 250px;
  max-width: 400px;
  font-size: 20px;
}

#footer-fixed {
  position: fixed;
  bottom: 15px;
}

.valid-button {
  background-color: rgb(140, 82, 255);
  color: #fff;
}

.invalid-button {
  background-color: rgb(194, 25, 25);
}
