<div class="content">
  <h2 style="text-align: center;">
    Digite o código de rastreio e acompanhe seu pedido!
  </h2>
  <mat-form-field id="input" appearance="outline">
    <mat-label>Código</mat-label>
    <input matInput [(ngModel)]="trackingCode">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<div class="footer-fixed">
  <div class="button-next">
    <button
      mat-flat-button
      (click)="next()"
      [disabled]="!isValid"
    >
      <span class="label">
        Buscar
      </span>
    </button>
  </div>
</div>
