.card {
  background-color: rgb(33, 12, 124);
  margin: 15px;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  color: white;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
}

.description {
  width: 50%;
  text-align: right;
  padding: 5px;
  white-space: nowrap;
}

.date {
  width: 50%;
  padding: 5px;
}

.header{
  display: flex;
}

.origin {
  padding: 10px;
}

.destination {
  padding: 10px;
}
