.spinner {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: rgb(140, 82, 255);
}

.error {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(140, 82, 255);
}

.error h2 {
  padding: 10px;
}

#error-icon {
  font-size: 40px;
  color: rgb(140, 82, 255);
}
