.card {
  background-color: #1e1e1e;
  margin: 15px;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 #1e1e1e;
  transition: 0.3s;
  color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #1e1e1e;
  cursor: pointer;
}

.description {
  margin-top: 10px;
  text-align: center;
  margin-left: 11px;
  margin-right: 11px;
  padding: 5px;
}

.date {
  padding: 5px;
}

.date-label {
  float: right;
  margin-right: 10px;
}

.header{
  display: flex;
}

.origin {
  display: flex;
  padding: 10px;
}

.destination {
  display: flex;
  padding: 10px;
}

.content {
  margin-bottom: 20px;
}

.error {
  margin-top: 90px;
  padding: 15px;
  text-align: center;
  color: #1e1e1e;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.resume {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 9px;
  margin-right: 9px;
  display: flex;
}

.days-in-transit {
  text-align: center;
  color: white;
  background-color: #1e1e1e;
  padding: 10px;
  width: 40%;
  border-radius: 38px;
  margin: 4px;
  display:flex;
  justify-content:center;
  align-items: center;
}

.progress {
  color: white;
  background-color: #1e1e1e;
  padding: 10px;
  width: 40%;
  border-radius: 38px;
  text-align: center;
  margin: 4px;
  display:flex;
  justify-content:center;
  align-items: center;
}

.status {
  color: white;
  background-color: #1e1e1e;
  padding: 10px;
  width: 40%;
  border-radius: 38px;
  text-align: center;
  margin: 4px;
  display:flex;
  justify-content:center;
  align-items: center;
}
